.smaller { font-size: 80%; }
.smaller2 { font-size: 67%; }
.card {
  background-color: #1e1e1e;
  border: 1px solid #444;
  border-radius: 12px;
  padding: 0.75em;
  margin-top: 0.3em;
  line-height: 1.3;
}
.footnote {
  font-size: 0.5em;
  color: #666;
}
